{% block stylesheets %}
<link rel="stylesheet" href="/css/_footer.css">
{% endblock %}

<div id="footer_top">

	<a href="">Mentions légales</a>

	<div id="navigation">
		<a href="/serveur">Nous rejoindre</a>
		<a href="/catalogue">Nos véhicules</a>
		<a href="https://districtrp.tebex.io/">Notre boutique</a>
	</div>

	<div id="socials">
		<a href="https://discord.gg/district-rp"><img src="images\icons\discord.png" alt="discord"></a>
		<a href="https://twitter.com/DistrictRP_off"><img src="images\icons\twitter.png" alt="twitter"></a>
	</div>
</div>
<div id="footer_bottom">
	<p>&copy;2023</p>
</div>

