<link rel="stylesheet" href="css/_header.css">
<nav>
    <ul>
        <li><a href="index.php"><img src=""></a></li>
        <li><a class="widget" href="catalogue.php">Catalogue</a></li>
        <li><a class="widget" href="https://districtrp.tebex.io/">Boutique</a></li>
        <li><a class="widget" href="#">Discord</a></li>
    </ul>
</nav>