{% block stylesheets %}
	<link rel="stylesheet" href="/css/_header.css">
{% endblock %}
<nav class="navbar navbar-dark bg-primary">

	<a class="navbar-logo" id="navbar-logo" href="/"><img src="/images\logos\navbar_logo.png" height="36" alt="home"></a>

	<a class="navbar-brand mb-0 h1" href="/catalogue">Catalogue</a>

	<a class="navbar-brand mb-0 h1" href="/serveur">Serveur</a>

	<a class="navbar-brand mb-0 h1" href="https://districtrp.tebex.io/">Boutique</a>


	{% if is_granted("ROLE_ADMIN") %}
		<a class="navbar-brand mb-0 h1" href="/deconnexion" id="logout">Déconnexion</a>
	{% endif %}
</nav>

