<link rel="stylesheet" href="/css/_header.css">
<nav>
	<ul>
		<li>
			<a href="/"><img src="/images\DISTRICT_LOGOS_BRUTS_Plan_de_travail_1-01.png" alt="home"></a>
		</li>
		<li>
			<a class="widget" href="/catalogue">Catalogue</a>
		</li>
		<li>
			<a class="widget" href="https://districtrp.tebex.io/">Boutique</a>
		</li>
		<li>
			<a class="widget" href="#">Discord</a>
		</li>

	</ul>
	{% if is_granted("ROLE_ADMIN") %}
		<a class="widget" href="/deconnexion" id="logout">Déconnexion</a>
	{% endif %}
</nav>
<div class="space"></div>
