{% extends "base.html.twig" %}

{% block body %}
	<link rel="stylesheet" href="css/home.css">


	<div class="blocVideo">
		<div class="opacity"></div>
		<video autoplay="autoplay" muted="" loop="infinite" src="\video\Maquette.mp4"></video>
	</div>
		<div class="opacity">
	<div class="presentation">

		<p>
			Si l'on devait résumer notre projet très brièvement, voilà ce qui conviendrait : une communauté par les joueurs, pour les joueurs.
		</p>
		<p>
			Nous sommes pour la plupart des rolistes de longue date, amoureux des perspectives offertes à chacune et chacun par la pratique du RP. Au delà d'être un loisir pour beaucoup, le RP de qualité peut tendre vers une forme de relation para-sociale. De nos rencontres en jeu peuvent naître des amitiés, des groupes multi-gaming et une multitude d'autres perspectives !
		</p>
		<p>
			Nous cherchons à réunir le maximum d'éléments qui nous font envie, tout en restant cohérents, pour vous proposer un lieu de divertissements, de jeux et de rencontres, comme nous aimerions en trouver (et comme nous en avons longtemps cherché).
		</p>
		<p>
			Nous souhaitons repousser les limites auxquelles nous avons trop souvent été confrontés en tant que joueurs, que rolistes. Nous ne cherchons ni profit personnel, ni quoi que ce soit qui ne contribuerait pas à la communauté DistrictRP dans son ensemble.
		</p>
		<p>
			Si vous vous reconnaissez dans notre projet, dans nos valeurs, n'hésitez pas à contribuer au développement et au maintiens de notre District : d'abord en jouant, en partageant avec vos amis, en nous offrant de la visibilité, en nous faisant un don ou en visitant la boutique ! Qui sait, vous pourriez même nous rejoindre au sein de l'équipe pour contribuer activement à la vie du District !
		</p>
		<p>
			Merci à tous de votre présence, belle aventure au sein du District ! 💖
		</p>
	</div>
	</div>
	<div class="parallax"></div>

{% endblock %}

