{% extends "base.html.twig" %}

{% block body %}
<link rel="stylesheet" href="css/home.css">


	<div class="blocVideo">
		<video autoplay="autoplay" muted="" loop="infinite" src="\video\Maquette_V2.mp4"></video>
	</div>

    <div class="presentation">

    </div>
    
    <div class="parallax">
     {# <img src="\images\DISTRICT-ALL-EMOTE-COLORS-57.png" alt="palmier"> #}
    </div>

{% endblock %}
