.navbar{
    position: sticky;
    top: 0px;
    justify-content: flex-start;
    padding: 0;
    z-index: 5;
    flex-wrap: nowrap;
}

.navbar-logo{
    margin-left: 20px;
    padding: 10px;
}
.navbar-brand{
    padding: 10px 10px 10px 10px;
    transition: all 0.5s ease-in-out;
 }
.navbar-brand:hover {
    color: rgb(255, 255, 255);
    background: #194ab4;
}

.navbar-brand:active {
    background-color: #2a00d4;
}

nav #logout{
    margin-left: auto;
}

