* {
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    height: 100%;
}




fieldset{
    margin: 10px;
}
h3 {
    margin-bottom: 0;
}

/**************** Section catalogue ****************/
.catalog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

/* Alert message */
.alert{
    display: flex;
    background-color: #04AA6D;
    color: white;
    font-family: Verdana,sans-serif;
    font-size: 18px;
    height: 40px;
    border-radius: 0%;
    margin: 0;
}
.alert p{
    text-align: center;
    align-self: center;
    width: 100%;

}


/* Contain vehicles and pagination */
.vehicles {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    overflow-wrap: break-word;
    flex-wrap: wrap;

}

/* Independant vehicle */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;}

.card .vehicle-img {
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 250px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-end;
    align-items: center;
    position: absolute;
    margin: 10px;
    width: 35px;
    height: 50px;
}

.icon {
    transition: transform .2s;
    width: 20px;
    border-radius: 30%;
    padding: 3px;

    background-color: rgb(248, 255, 254);
}

.icon:hover {
    transform: scale(1.2);
}

.icons a {
    width: 20px;
    height: 20px;
    text-decoration: none;
}

p {
    margin: 1px;
}

h4 {
    align-self: center;
}

/* navigation */
.navigation {
    align-self: center;
    padding: 5px;
}

.pagination {
    display: flex;
    align-items: center;
}

.navigation span {
    display: flex;
    list-style: none;
    margin: 3px;
}

.navigation span a {
    border: solid 1px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(31, 53, 255);
    padding: 8px;
}

.navigation span a:hover {
    font-weight: bolder;
}

.current {
    background-color: rgb(0, 89, 255);
    color: white;
    padding: 8px;
    font-size: 22px;
    font-weight: bold;
}