{% extends 'base.html.twig' %}

{% block title %}DistrictRP - Catalogue
{% endblock %}

{% block body %}
	<link rel="stylesheet" href="css/catalog.css">
	
	
	{% include "pages/vehicle/_filter.html.twig" with {form: form} only %}
	
	
	
	<div class="catalog">

		{% for message in app.flashes('success') %}
			<div class="alert">
				<p>{{message}}</p>
			</div>
		{% endfor %}
				<div class="d-flex ms-4 mt-2">
			{{ knp_pagination_sortable(vehicles, 'Prix', 'p.price') }}
		</div>
		{% if not vehicles is same as([]) %}
			<div class="vehicles">
				{% for vehicle in vehicles %}
					{% include 'pages/vehicle/_card.html.twig' with {vehicle: vehicle} only %}
				{% endfor %}


			</div>
			<div class="navigation">
				{{ knp_pagination_render(vehicles) }}
			</div>
		{% else %}
			<h4>Il n'y a pas de véhicules disponible !</h4>
		{% endif %}
	</div>


{% endblock %}

