{% extends "base.html.twig" %}


{% block body %}
	<link rel="stylesheet" href="/css/server.css">


	<div class="infos">
		<h1>Connexion au serveur</h1>

	</div>

	<div class="discord">
		<iframe title="Widget-discord" src="https://discord.com/widget?id=892394989135466496&theme=dark" width="350" height="500" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
	</div>

{% endblock %}

